there is some problem with the function "encode_string_as_pointer"!!!!!

it shoud change "~" to "~0"，but this function has change "~" to "~1",  there also have problem with the "/";
the right implement may be as follow.
 
static void encode_string_as_pointer(unsigned char *destination, const unsigned char *source)
{
    for (; source[0] != '\0'; (void)source++, destination++)
    {
        if (source[0] == '/')
        {
            destination[1] = '~';
            destination[1] = '1';
            destination++;
        }
        else if (source[0] == '~')
        {
            destination[0] = '~';
            destination[1] = '0';
            destination++;
        }
        else
        {
            destination[0] = source[0];
        }
    }

    destination[0] = '\0';
}

Hi, @AIChangjiang , can you provide more information about it, what would happen if not change the original implementation and what bug you occurred when use this function.

Hello. Thank you for your reply.
I had a problem when getting the JSON PONTER，For example, there is a json body like this
**{"m~n", "test"}**
I will get the json poniter **"/m~1n"**，according to the rfc6901，i should get the result is **"/m~0n"**,
so i think the function encode_string_as_pointer is something wrong.




Hi @AIChangjiang , yes, you are right. `encode_string_as_pointer` seems has some problem according to the rfc6901.

Here is a snippet I extracted from the rfc6901 document:
```
   A JSON Pointer is a Unicode string (see [RFC4627], Section 3)
   containing a sequence of zero or more reference tokens, each prefixed
   by a '/' (%x2F) character.

   Because the characters '~' (%x7E) and '/' (%x2F) have special
   meanings in JSON Pointer, '~' needs to be encoded as '~0' and '/'
   needs to be encoded as '~1' when these characters appear in a
   reference token.
```

According to this, I think the right implement may be as follow:
```
static void encode_string_as_pointer(unsigned char *destination, const unsigned char *source)
{
    for (; source[0] != '\0'; (void)source++, destination++)
    {
        if (source[0] == '/')
        {
            destination[0] = '~';
            destination[1] = '1';
            destination++;
        }
        else if (source[0] == '~')
        {
            destination[0] = '~';
            destination[1] = '0';
            destination++;
        }
        else
        {
            destination[0] = source[0];
        }
    }

    destination[0] = '\0';
}
```
What's you opinion? 

yes, I think your modifications are correct. That's what I thought.
Thanks for your attention.

